<div class="container">
<div class="row">
   <div class="col-md-12">
  <h2 id="titreMag"> Creation Magasins</h2>
<div class="card text-white bg-dark ">

  <div class="card-body">

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
        <label class="primaryLab">Reference</label>
        <input style="background-color: #a1c0ef" type="text" class="form-control" [(ngModel)]="magasin.reference" >
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
        <label class="primaryLab">Nom</label>
        <input style="background-color: #a1c0ef" type="text" class="form-control" [(ngModel)]="magasin.nom" >
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
        <label class="primaryLab">Nombre Max produits</label>
        <input style="background-color: #a1c0ef" type="number" class="form-control" [(ngModel)]="magasin.nbrMAxProduit" >
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
        <label class="primaryLab">Nombre Max d'employes</label>
        <input style="background-color: #a1c0ef" type="number" class="form-control" [(ngModel)]="magasin.nbrMaxEmploye" >
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
          <label class="primaryLab">Entite Administrative</label> <br>
        <select style="background-color: #a1c0ef" class="btn btn-block btn-outline-light" name="entiteAdmoinistrative"  [(ngModel)]="magasin.refEntite" (click)="findAllEntites()">
          <option selected="selected" disabled>Choose your entite Administrative</option>
          <option *ngFor="let entite of entitesAdministratives" [ngValue]="entite.reference" >
            name : {{entite.nom}} ---- reference : {{ entite.reference }} ---- chef : {{entite.chef.code}}
          </option>
        </select>
      </div>
    </div>

  </div>
  <div class="card-fouter">
    <button class="btn btn-outline-info btn-block" (click)="save()" [disabled]="!validateSave()">save</button>
  </div>
</div>
</div>
</div>
 <br> <br>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="card" style="background-color: #0e2c37">
      <div class="card-header"><h1 style="color: #766866; padding-left: 10%">Gestion Des Magasins </h1></div>
      <div class="card-body">
        <table class="table">
          <tbody>
          <tr>
            <td><button class="btn btn-outline-info btn-block" (click)="goToPage1('Magasin2')">List of Magasins</button></td>
            <td><button class="btn btn-outline-info btn-block" (click)="goToPage1('Magasin3')">find Magasin</button></td>
          </tr>
          <tr>
            <td><button class="btn btn-outline-info btn-block" (click)="goToPage1('Magasin4')">find Stockes of Magasin</button></td>
            <td><button class="btn btn-outline-info btn-block" (click)="goToPage1('Magasin5')">Add Product To Magasin</button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
</div>


