<div class="row">
  <div class="col-md-12">
    <div class="card text-white bg-info mb-3" >
      <div class="card-header">Ajouter un produit dans un Magasin</div>
      <div class="card-body">

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="primaryLab">reference de stock</label>
              <input style="background-color: #a1c0ef" type="text" placeholder="entrez un reference" class="form-control" [(ngModel)]="loadedStock.reference" >
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="primaryLab">Magasin</label>
              <select style="background-color: #a1c0ef" class="btn btn-block btn-outline-light" [(ngModel)]="loadedStock.magasin.reference" >
                <option value="null" selected disabled>choose magasin</option>
                <option *ngFor="let m of magasins" [ngValue]="m.reference">
                  reference: {{m.reference}} --- nom: {{m.nom}} --- refEntite: {{m.refEntite}}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="primaryLab">reference de produit</label>
              <input style="background-color: #a1c0ef" type="text" class="form-control" [(ngModel)]="loadedStock.produit.reference" >
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="primaryLab">quantite Max de prod in Magasin</label>
              <input style="background-color: #a1c0ef" type="number" class="form-control" [(ngModel)]="loadedStock.quantiteMax" >
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="primaryLab">quantite shouaitez ajoutée</label>
              <input  style="background-color: #a1c0ef" type="number" class="form-control" [(ngModel)]="loadedStock.qte" >
            </div>
          </div>
        </div>

      </div>
      <div class="card-fouter">
        <button class="btn btn-block btn-outline-info" (click)="addProductToMagasin(loadedStock.reference, loadedStock.magasin.reference, loadedStock.produit.reference, loadedStock.quantiteMax, loadedStock.qte)">valider</button>
      </div>
    </div>
  </div>
</div>
