  <div class="vertical-nav bg-white" id="sidebar">
    <div class="py-4 px-3 mb-4 bg-light">
        <div class="media d-flex align-items-center"><img alt="..." class="mr-3
        rounded-circle img-thumbnail shadow-sm" src="../assets/logo.jpg" width="65">
      <div class="media-body">
          <h4 class="m-0">OPULA</h4>
          <p class="font-weight-light text-muted mb-0">Stock Management Inc.</p>
        </div>
      </div>
    </div>

    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0" >ADMINISTRATION</p>

    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a routerLink="/ExpressionDeBesoinDetail" class="nav-link text-dark font-italic bg-light">
          <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
          Expression De Besoin
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="Personnel" class="nav-link text-dark font-italic">
          <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
          Personnel
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="EntiteAdministrative" class="nav-link text-dark font-italic">
          <i class="fa fa-user mr-3 text-primary fa-fw"></i>
          Entité Administrative
        </a>
      </li>
    </ul>

    <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">PRODUIT</p>

    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a routerLink="Produit" class="nav-link text-dark font-italic"><i class="fa fa-cube mr-3 text-primary fa-fw"></i>Produit</a>

        <a routerLink="FamilleProduit" class="nav-link text-dark font-italic">
          <i class="fa fa-cube mr-3 text-primary fa-fw"></i>
          Famille Produit
        </a>

        <a routerLink="Fournisseur" class="nav-link text-dark font-italic">
          <i class="fa fa-university mr-3 text-primary fa-fw"></i>
          Fournisseur
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="Livraison" class="nav-link text-dark font-italic">
          <i class="fa fa-truck mr-3 text-primary fa-fw"></i>
          Livraison
        </a>
      </li>
    </ul>
    <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">MAGASIN</p>

    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a routerLink="Stock" class="nav-link text-dark font-italic">
          <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
          Stock
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="Magasin" class="nav-link text-dark font-italic">
          <i class="fa fa-flag mr-3 text-primary fa-fw"></i>
          Magasin
        </a>
      </li>
    </ul>
  </div>


