<div class="row">
  <div class="col-md-12">
    <div >
      <h3> Listes des Magasins</h3>
      <table class="table table-dark table-hover table-striped table-bordered">
        <thead >
        <th style="width: 20%">reference</th>
        <th style="width: 20%">nom</th>
        <th style="width: 10%">nbr Max de produit</th>
        <th style="width: 10%">nbr Max d'employe</th>
        <th style="width: 30%">reference  de l'entite Administrative</th>
        <th style="width: 10%">action</th>
        </thead>
        <tbody>
        <tr *ngFor="let c of magasins">
          <td>{{c.reference}}</td>
          <td>{{c.nom}}</td>
          <td>{{c.nbrMAxProduit}}</td>
          <td>{{c.nbrMaxEmploye}}</td>
          <td>{{c.refEntite}}</td>
          <td><button type="button" class="btn btn-sm btn-danger fa fa-trash" (click)="deleteByReference(c)"></button></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
